html {
  background: url(https://static1.squarespace.com/static/51d31661e4b0a433e9c1b53b/t/555f0fcde4b07f0c9543eb48/1432293360189/big_c4e09d3a7f9ee18c486b00dd11676c24b416c541.jpg?format=2500w) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
.keys {
  display: flex;
  flex: 1;
  min-height: 65vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  width: 4rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
}

kbd {
  display: block;
  font-size: 3rem;
}

.sound {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
